<script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelement.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelementplayer.min.css" />
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

