---
layout: default
---

<header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading" style="margin-bottom:20px; padding-bottom:30px">
            <h1>{{ page.title }}</h1>
            {% if page.excerpt %}
            <h2 class="subheading">{{ page.excerpt }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              &middot; {% include read_time.html
              content=page.content %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      	<p>{{ page.date | date: "%-d %B %Y" }}</p>

        {{ content }}

        <audio preload="metadata" controls="" style="width:100%;">
			  <source src="{{ site.baseurl }}/assets/episodes/{{ page.media }}" type="audio/mpeg">
			Sadness. Your browser does not support the audio element.
  			</audio>

			<div style="padding-top: 20px;"><a href="{{ site.baseurl }}/assets/episodes/{{ page.media }}">Download MP3</a> | <a href="/episodes.rss">Subscribe to the podcast</a> | <a href="{{ site.itunes_url }}">Subscribe on iTunes</a>
			</div>
	<div style="padding-top: 20px;"> 
        <br>
        <hr>
        <br>

        {% if page.phenotype %}<h3>RSE Phenotype</h3>
        <p>{{ page.rse }} created his RSE Phenotype, a simple plot to show the dimensions that help to define his work, and the communities they are defined for using the <a href="https://us-rse.org/rse-phenotype/" target="_blank">RSE Phenotype Generator</a></a><br>
        <img src="{{ site.baseurl }}/assets/img/phenotypes/{{ page.phenotype }}">{% endif %}


        <br>
        <hr>
        <br>

        <h3>Resources</h3>
        <ul>{% for resource in page.resources %}
            <li><a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></li>
        {% endfor %}</ul>
 
        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ site.baseurl }}/{{ page.previous.url }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ site.baseurl }}{{ page.next.url }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
